{% extends './base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <a class="here" href="{% url 'userprofile' user.id %}">Back</a>
</div>

<h1>Update Password</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input class="button" type="submit"/>
</form>

{% endblock %}