{% extends './base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <a href="{% url 'userprofile' user.id %}">Back</a>
</div>

<h1>Are you sure you want to delete this post?</h1>
<hr>
<div>
    <h3>{{ post.author.user.username }} says:</h3>
    <p>{{ post.content }}</p>
</div>
<hr>
<div>
    <a class="button" href="{% url 'postlist' %}">Cancel</a>
    <a class="button" href="{% url 'postdelete' post.id %}">Delete</a>
</div>
{% endblock %}