{% extends './base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <a href="{% url 'home' %}">Home</a>
    <a class="here" href="{% url 'postlist' %}">Browse</a>
    <a href="{% url 'userlist' %}">Users</a>
    <a class="right" href="{% url 'logout' %}">Log out</a>
    <a class="right" href="{% url 'userprofile' user.id %}">Profile</a>
</div>

<h1>Create Post</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit"/>
</form>
{% endblock %}