{% extends './base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <a class="here" href="{% url 'userprofile' user.id %}">Back</a>
</div>

<h1>Update Username and Bio</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit"/>
</form>
<div>
    <a class="button" href="">Change Password</a>
    <a class="button" href="">Delete</a>
</div>
{% endblock %}