{% extends './base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <a href="{% url 'userprofile' user.id %}">Back</a>
</div>

<h1>Update Username and Bio</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit"/>
</form>
<div class="topspace">
    <a class="button" href="{% url 'passwordupdate' user.id %}">Change Password</a>
    <a class="button" href="{% url 'userdeleteconfirm' %}">Delete</a>
</div>
{% endblock %}